body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #34131b, #240c12);
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: rgba(36, 12, 18, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

canvas {
    border: 5px solid rgba(36, 12, 18, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #55555500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #1e080e;
}

button:active {
    background-color: #4c1221;
    transform: scale(0.95);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 10%, transparent 10%);
    background-size: 50px 50px;
    animation: moveBackground 20s linear infinite;
    z-index: -1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #19080c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #240c12;
    padding: 20px;
    border: 1px solid #300f15;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #1b070b;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #3c131a;
    cursor: pointer;
    margin-top: -6px; /* Adjust to align thumb with track */
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #1b070b;
    border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #300f15;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: #1b070b;
    border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
    background: #250a0f;
    border-radius: 5px;
}

input[type="range"]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #300f15;
    cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
    background: #1b070b;
}

input[type="range"]:focus::-ms-fill-upper {
    background: #250a0f;
}